[submodule "polymer-labs-official/x-ballot-nft/vibc-core"]
	path = polymer-labs-official/x-ballot-nft/vibc-core
	url = git@github.com:open-ibc/vibc-core-smart-contracts.git
[submodule "polymer-labs-official/x-ballot-nft-UC/vibc-core"]
	path = polymer-labs-official/x-ballot-nft-UC/vibc-core
	url = git@github.com:open-ibc/vibc-core-smart-contracts.git
[submodule "polymer-labs-official/x-ballot-nft-quickstart/vibc-core"]
	path = polymer-labs-official/x-ballot-nft-quickstart/vibc-core
	url = git@github.com:open-ibc/vibc-core-smart-contracts.git
